# Virtual Environment
venv/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Build Files
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Model Files (optional)
model/*.pkl

# Output Files
output/
trainer/

# Dataset (optional)
dataset/

# Logs
*.log